header {
  display: flex;
  justify-content: space-between;
}

.settings-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30rem;

  .connect {
    height: 10rem;
    width: 20rem;
  }
}
