<header>
  <h1>Demo</h1>
  <div *ngIf="$connected | async" class="messages">
    <p>Connected to: {{ serverURL }}</p>
    <p>
      Player name: <b>{{ playerName }}</b>
    </p>
  </div>
  <button
    mat-raised-button
    color="warn"
    (click)="disconnect()"
    *ngIf="$connected | async"
  >
    Disconnect
  </button>
</header>

<div class="settings-bar" *ngIf="!($connected | async)">
  <h2>Choose a character</h2>
  <img src="assets/heads.png" (click)="selectHead($event)" />

  <h2 *ngIf="selectedHeadName">{{ selectedHeadName }}</h2>

  <mat-form-field>
    <input matInput [(ngModel)]="playerName" placeholder="Enter your name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="serverURL" placeholder="Server" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="connect()"
    *ngIf="!($connected | async) && selectedHeadName"
    class="connect"
  >
    Connect
  </button>
</div>

<yinz-game></yinz-game>
